.field {
    display: none;
   
    &__level {
        text-align: center;
        margin-bottom: 30px;
        font-size: 24px;
        &-value {
            font-size: 24px;
        }
    }

    &__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__user-items {
        display: flex;
        flex-direction: column;
    }
    &__animation-item {
        opacity: 0;
    }

    &__timer {
        display: flex;
        flex-direction: column;
    }

    &__timer-title {
        text-align: center;
    }

    &__timer-items {
        padding-left: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        width: 100px;
    }

    &__timer-item {
       width: 25px;
       text-align: center;
    }

    &__list {
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding-left: 0;
        width: 100%;
        padding: 150px 0 80px;
    }

    &__list-item {
        font-family: $number-font;
        font-size: 60px;
        text-align: center;
    }
    &__number_width {
        width: 20%;
    }
    &__operator_width {
        width: 5%;
    }
    &__result {
        width: 30%;
        text-align: center;
    }
    &__input-items {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__stop {
        width: 20%;   
        color: red;     
    }

    &__input-value {
        width: 30%;
    }

    &__check {
        width: 20%;
        color: blue;
    }
}

@media(max-width:991px) {
    .field{
        &__number_width {
            width: 15%;
        }
        &__operator_width {
            width: 5%;
        }
        &__result {
            width: 35%;
        }
    }
}

@media(max-width:767px) {
    .field{
        &__list-item {
            font-size: 52px;
        }
        &__number_width {
            width: 25%;
        }
        &__operator_width {
            width: 5%;
        }
        &__result {
            width: 40%;
        }
    }
}

@media(max-width:575px) {
    .field{
        &__list-item {
            font-size: 32px;
        }
        &__number_width {
            width: 20%;
        }
        &__operator_width {
            width: 5%;
        }
        &__result {
            width: 50%;
        }
        &__input-value {
            width: 50%;
            margin: 0 2px;
        }
        &__stop {
            width: 25%;        
        }
        &__check {
            width: 25%;
        }
    }
}