.main {
    display: none;
    &__contant{
        margin: 0 auto;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__name {
      
    }

    &__modes {
        display: flex;
        justify-content: space-between;
        width: 280px;
    }
    &__btn {
        margin-top: 30px;
        width: 100px;
    }
    &__link {
        margin-top: 15px;
        padding: 5px;
        color: #0278ED;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    
}

.radio {
    position: relative;
    height: 30px;
    width: 120px;

    &__input {
        appearance: none;

        &:checked + .radio__label{
            background: #0278ED;
            color: #fff;
        } 
        &:focus + .radio__label {
            outline: 2px solid black;
        }
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 100%;
        background: #FAFAFA;
        border-radius: 4px;
        text-align: center;
        cursor: pointer;
        padding-top: 8px;
        border: 2px solid #0278ED;
    }
}