.rules {
    display: none;
    overflow-y: auto;
    &__back-item {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    &__title {
        margin: 30px 0;
        text-transform: uppercase;
    }

    &__list {
        margin-left: 36px;
        line-height: 40px;
    }
   
}
.span_bold {
    font-weight: bold;
}
@media(max-width: 575px){
    .rules {
        &__title {
            margin: 15px 0;
        }
        &__list {
            line-height: 30px;
            margin-left: 6px;
        }
    }
}